.summary-card{
    background:white;
    border-radius:18px;
    padding:25px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.summary-card:hover{
    transform:translateY(-5px);
}

.summary-card h4{
    color:#666;
    margin-bottom:15px;
}

.summary-card h1{
    font-size:38px;
    font-weight:700;
}